* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
    background-color: #111111;
    overflow: hidden;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 500px;
}

.square {
    margin: 2px;
    width: 16px;
    height: 16px;
    background-color: #1d1d1d;
    box-shadow: 0 0 2px #000000;
    transition: 1s ease;
}

.square:hover {
    transition-duration: 0s;
}